:root {
    --messaging-color: #3a4450;
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contactCard {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    width: 100%;
}
.contactCard:hover {
    border: 1px solid white;
}
.contactSelect {
    position: absolute;
    top: 0;
    left: 0;
    width: 16%;
    overflow-y: scroll;
    background: linear-gradient(45deg, black, var(--messaging-color));
    height: 100vh;
}
.contactSelect i {
    color: white;
    font-size: 500%;
    position: absolute;
    top: 35%;
    left: 30%;
}
.messageCompose {
    position: fixed;
    left: 15%;
    bottom: 0;
    width: 85%;
    height: 15%;
    background-color: var(--messaging-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.messageBox {
    margin-top: 4%;
    background-color: whitesmoke;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-top: 4px solid black;
}
.messageBox #orient {
    position: absolute;
    top: 22%;
    left: 0;
    font-size: 200%;
}
.messageBox button {
    all: unset;
    margin-right: 20px;
}
.messageBox #submit {
    font-size: 200%;
}
.messageBox input {
    background: transparent;
    border: none;
    font-size: 220%;
    width: 97%;
    margin-left: 45px;
    outline: none;
    overflow-x: scroll;
    font-weight: bold;
}
.messageHistory {
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: 92%;
    background-color: var(--messaging-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.contactBubble {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
.contactInfo aside {
    margin: 0 5px;
    color: white;
}
.contactInfo {
    margin-left: 5px;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
}
.errorBackground {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.errorScreen {
    background-color: var(--messaging-color);
    width: 35%;
    height: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.errorScreen code {
    background-color: white;
    color: black;
    padding: 5%;
    border-radius: 10px;
}
.errorScreen h3 {
    all: unset;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.errorScreen i {
    font-size: 200%;
    color: white;
}
.message {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.emojiList {
    background-color: var(--messaging-color);
    border: 2px solid black;
    border-radius: 20px;
    width: 4%;
    margin-right: 1%;
}
.incoming {
    background-color: #5cde41;
    color: white;
}
.outgoing {
    color: white;
    background-color: #2097f3;
}
.messageBlock {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
}
.sentMessage {
    border: 1px solid black;
    border-radius: 20px;
    font-size: 100%;
    padding: 0 5px;
    text-align: center;
    min-width: 5%;
    max-width: 30%;
    font-weight: bold;
}
.messageHistory header {
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    padding: 10px 0;
    gap: 5%;
}
.messageHistory header h2 {
    padding: 0;
    margin: 0;
}
.messageHistory header button {
    font-size: 200%;
    margin-left: 20px;
    background: transparent;
    border: none;
}
